.hit {
    display: inline;
    font-family: 'Roboto', sans-serif;
}
    .p1{
        color: blueviolet;

    }
    .p2{
        color: aqua;
    }
    .p3{
        color: blue;
    }
    .c1{
        color: blue;
    }